body{
	margin : 0px;
	overflow: hidden;
}
#hmtl_elements{
	opacity: 0;
	position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left:0;
    z-index: 1000;
}
.a-enter-vr{
	display: none !important;
}
#paginacion{
    position: absolute;
    bottom: 70px;
    left: calc(50% - 30px);
    background: #000;
    padding: 10px 15px;
    font-family: sans-serif;
    border-radius: 20px;
    border: 2px solid #fff;
    color: #fff;
    z-index: 10;
}
#izq img{
    top: calc(50% - 20px);
    left: 10px;
    height: 40px;
    z-index: 1000000;
    position: absolute;
    filter: drop-shadow(0px 0px 2px #fff);
    z-index: 10;
}

#drx img{
    top: calc(50% - 20px);
    right: 10px;
    height: 40px;
    z-index: 1000000;
    position: absolute;
    filter: drop-shadow(0px 0px 2px #fff);
    z-index: 10;
}
#scan_marker_ux{
	opacity: 1;
	position: fixed;
    height: 100%;
    top: 0;
    text-align: center;
    width: 100%;
    left: 0;
    transition: opacity 0.7s;
}
#scan_marker_ux img{
    height: 100%;
}
#menu{
	opacity: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    cursor: pointer;
}

#menu ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#menu li{
    flex: 1;
    text-align: center;
    margin: 15px 10px;
    text-decoration: none;
    display: flex;
}

.button_gh {
    max-width: 300px;
    background-color: #E0A315;
    border: 1px solid #E0A315;
    border-radius: 200px;
    color: #000;
    padding: 10px 30px;
    width: 100%;
    display: block;
    margin: 0 auto;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
}

#button_rotate {
    color: #E0A315;
    font-size: 300%;
    text-align: center;
}

#button_weed:before {
    content: "Weed";
}

#button_hash:before{
    content: "Hash";
}

#button_prerolled:before{
    content: "Pre-rolled";
}

#preloader-modal{
    z-index: 100000000;
    color:#fff !important;
    display: none;
}

.modal-content{
    border: 0 !important;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../../img/marihuana-legal.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#preloader-modal .col-md-offset-3 {
    margin-left: 25% !important;
}

#preloader-modal .col-md-6 {
    width: 50% !important;
    float: left !important;
}

#preloader-modal .preloader-modal__spinner{
    color: #fff !important;
}

#preloader-modal #logo_preloader{
    width: 300px;
    margin-bottom: 30px;
}

#preloader-modal .loading_message{
	margin-bottom: 20px;
}

#preloader-modal .powered{
	position: fixed;
	bottom: 10px;
    left: 0;
}

#preloader-modal .powered p{
	margin-bottom: 0;
}

#preloader-modal .powered img{
	width: 150px;
	margin-top: -5px;
}

#preloader-modal.preloader-modal__complete .preloader-modal__ok, #preloader-modal .preloader-modal__spinner{
    display: inline-block;
    margin-bottom: 0.5em;
}

#preloader-modal.preloader-modal__complete .preloader-modal__spinner, #preloader-modal .preloader-modal__ok{
    display: none;
    margin-bottom: 0.5em;
}

#preloader-modal .btn{
    margin-top: 2em;
}

@media only screen and (max-width:600px){
    #menu li{
        margin:15px 2px;
    }

    #menu a{
        font-size: 15px;
        font-weight: 800;
        padding: 10px 5px;
    }

    #preloader-modal .col-md-6 {
        width: 100% !important;
    }

    #preloader-modal .col-md-offset-3 {
        margin-left: 0% !important;
    }
}